/* @page { size: A4 landscape; margin:0; }
@media print{
	.left-side, footer, #nabvar, #printPage {display:none}
} */
  /* 클럽보드 박스 */
  .notification-container {
    position: absolute;
    z-index: 1000;
    box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.08);
    color: #fff;
    background: #252525;
    font-weight: bold;
    border-radius: 50px;
    margin: 0 auto;
    padding: 0px 30px;
    top: 50px;
    left: 50%;
    transform: translate(-50%,0%);
    display: none;
  }
  
  .left-side {
    position: fixed;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 358px;
  }
  
  aside {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 358px;
    height: 100%;
    background-color: #303030;
  }
  
  #side-logo {
    position: relative;
    left: 8%;
    top: 3%;
    font-family: Billabong;
    font-size: 45px;
    color: #fff;
  }
  
  a#adminLogo {
    text-decoration: none;
    color: #fff;
  }
  #read-ul {
    position: relative;
    list-style-type: none;
    top: 150px;
    margin: 0;
    padding: 0;
  }
  
  #read-li a {
    display: block;
    color: #fff;
    font-size: 22px;
    padding: 20px 30px;
    text-decoration: none;
  }
  
  #read-li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  img {
    padding: 0 20px;
  }
  
  span.sideText {
    position: relative;
    top: 20%;
  }
  
  @media (max-height: 900px) {
    .sidebar-footer {
      display: none;
    }
  }
  
  div#logout {
    position: fixed;
    top: 850px;
    left: 35px;
  }
  a#logout {
    text-decoration: none;
    font-size: 22px;
    color: #fff;
  }
  
  footer {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  
  .footer_info {
    position: relative;
    padding-left: 5px;
  }
  .footer_info > a {
    text-decoration: none;
    font-size: 12px;
    color: #737373;
  }
  
  /* 네이게이션 바 */
  nav {
    position: fixed;
    left: 358px;
    top: 0%;
    right: 0%;
    width: 100%;
    /* overflow: hidden; */
    height: 100px;
    background-color: #fff;
    border-bottom: 6px solid #a4a4a4;
  }
  
  #material-message-logo {
    position: relative;
    left: 10px;
    top: 31px;
  }
  #adminProfile-text {
    position: relative;
    font-size: 20px;
    top: 25px;
    color: #474747;
  }
  
  /* 회원정보 컨텐츠 */
  .mailTable {
    position: fixed;
    left: 358px;
    top: 106px;
    width: 100%;
    height: 100%;
  }
  
  #mailTitle {
    position: relative;
    left: 37px;
    top: 27px;
    font-family: MalgunGothic;
    font-size: 20px;
    font-weight: bold;
    color: #474747;
  }

  #printPage {
    position: fixed;
    left: 1750px;
    top: 120px;
    font-family: MalgunGothic;
    font-size: 14px;  
    color: #767678;
    cursor: pointer;
    width: 35px;
  }

  #printPage:hover {
    text-decoration: underline;
  }

  #printIcon{
    position: relative;
    right: 50px;
    top: 24px;
  }

  #translate{
    position: fixed;
    left: 1805px;
    top: 145px;
    font-family: MalgunGothic;
    font-size: 14px;  
    color: #767678;
    cursor: pointer;
  }

  #translate:hover{
    text-decoration: underline;
  }

  #sender {
    position: relative;
    left: 37px;  
    top: 60px;
    font-family: MalgunGothic;
    font-size: 14px; 
    font-weight: bold;
    color: #474747;     
  }
  
  #senderWrap {
    position: relative;
    display: inline-block;
    left: 110px;
    top: 40px;
    max-width: 1000px;
    height: 70px;
    font-family: MalgunGothic;
    font-size: 13px;    
    cursor: pointer;
  }

  #senderEmail {
    background-color: #0073E61A;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
  }

  #senderEmail:hover{
    text-decoration: underline;
    background-color: #0073E633;
  }

  #receiver {
    position: relative;
    left: 37px;  
    top: 15px;
    font-family: MalgunGothic;
    font-size: 14px; 
    font-weight: bold;
    obj[0].email;    
  }

  #receiverWrap {
    position: relative;
    display: inline-block;
    left: 110px;
    top: -5px;
    max-width: 1000px;
    height: 70px;
    font-family: MalgunGothic;
    font-size: 13px;   
    cursor: pointer; 
  }

  #receiverEmail {
    background-color: #0073E61A;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
  }

  #receiverEmail:hover {
    text-decoration: underline;
    background-color: #0073E633;
  }  

  #senderTime {
    position: relative;
    top: -35px;
    left: 37px;
    font-size: 13px;
    font-family: MalgunGothic;
    color: #767678;
  }

  #hr {
    position: fixed;
    top: 310px;
    background: rgba(230, 230, 234, 0.7);
    height:1px;
    border:0;
    width: 1490px;
    left: 395px;
  }

  /* 첨부파일 리스트 */
  #mail-content {
    position: relative;
    width: 100%;
    height: 100%;
  }

  #file-attachment-summary{
    position: relative;
    left: 37px;
    top: 0px;
    font-size: 14px;
    color: #1E1E23;
    font-family: MalgunGothic;
  }

  #arrow-down{
    position: fixed;
    left: 440px;
    top: 340px;
    cursor: pointer;
  }

  #arrow-up{
    position: fixed;
    left: 440px;
    top:340px;
    cursor: pointer;  
  }

  #attachment-inner {
    position: relative;
    left: 37px;
    top: 15px;
    border: solid 1px #eee;
    width: 650px;
  }

  .fileList {
    list-style: none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #fileItem {
    display: block;
    height: 30px;
    line-height: 25px;
  }

  #fileItem:hover {
    background-color: #F9F9F9;
  }

  #fileImg {
    width: 22px;
    height: 22px;
    vertical-align: middle;
  }
  
  #fileName {
    margin-top: 10px;
    font-size: 14px;
    color: #1E1E23;
    width:100%; 
    margin-left: -15px;
  }

  #img-preview {
    text-decoration: none;
  }

  #preview {
    vertical-align: middle; 
    font-size: 14px;
    color: #6b77a7;
    padding-left: 10px;
  }

  #preview:hover {
    text-decoration: underline;  
  }

  #download {
    width: 22px;
    height: 22px;
    vertical-align: middle; 
    float: right; 
    cursor: pointer;
  }

  #download:hover {
    content: url('/adminImages/feather-download2.svg');
  }

  #mail-content-text {
    position: relative;
    left: 37px;
    top: 30px;
    width: 78%;
    font-size: 14px;
  }

