  
  /* 번역 박스 */
  #translateBox{
    position: fixed;
    border-bottom: solid 1px #eee;
    left: 0;
    top: 0;
    height: 46px;
    width: 100%;
  } 

 .popup_title{
  position: absolute;
  top:13px;
  left: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #303038;
 }

 .button_translate_wrap{
  position: relative;
  left: 74%;
  top: 12px;
  max-width: 110px;
  height: 30px;
 }

 .button_translate_wrap2{
  position: relative;
  left: 88%;
  top: -18px;
  max-width: 110px;
  height: 30px;
 }

 .button_translate{
  position: absolute;
  left: 25px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
 }
 
 .text{
  font-size: 14px;
  color: #303038;
 }

 #downButton{
  position: fixed;
  left: 795px;
  top: 20px;
  height: 5px;
  width: 5px;

 }

 #upButton{
  position: fixed;
  left: 795px;
  top: 20px;
  height: 5px;
  width: 5px;

 }

 #downButton2{
  position: fixed;
  left: 930px;
  top: 20px;
  height: 5px;
  width: 5px;

 }

 #upButton2{
  position: fixed;
  left: 930px;
  top: 20px;
  height: 5px;
  width: 5px;

 }

 #exchangeLanguage{
  position: absolute;
  left: 85%;
  top: 15px;
  width: 18px;
  height: 18px;
  cursor: pointer;
 }

  /* 번역 언어 선택 박스 */
  .layer_context{
    position: relative;
    display: block;
    top: 35px;
    left: 74%;
    width: 110px;
    height: 160px;
    margin-top: 3px;  
    border-radius: 5px;
    border: solid 1px #eee;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
  }

  .context_menu{
    z-index: 100;
    position: absolute;
    list-style: none;
    display: block;
    width: 110px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;   
  }

  .context_item{
    text-align: left;
    margin-top: -6px;
    padding: 6px;
    cursor: pointer;
  }

  .context_item:hover{
    background-color: #E6E6EA4D;
  }

  .button_context_item{
    border: 0;
    background-color: transparent;
    font-size: 14px;
    cursor: pointer;
  }
  /* 회원정보 컨텐츠 */
  .mailTable {
    position: fixed;
    left: 0px;
    top: 46px;
    width: 100%;
    height: 100%;
  }

  #mailTitle {
    position: relative;
    left: 37px;
    top: 27px;
    width: 200px;
    font-family: MalgunGothic;
    font-size: 20px;
    font-weight: bold;
    color: #474747;
  }

  #sender {
    position: relative;
    left: 37px;  
    top: 60px;
    width: 70px;
    font-family: MalgunGothic;
    font-size: 14px; 
    font-weight: bold;
    color: #474747;     
  }
  
  #senderWrap {
    position: relative;
    display: inline-block;
    left: 110px;
    top: 40px;
    max-width: 1000px;
    height: 70px;
    font-family: MalgunGothic;
    font-size: 13px;    
    cursor: pointer;
  }

  #senderEmail {
    background-color: #0073E61A;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
  }

  #senderEmail:hover{
    text-decoration: underline;
    background-color: #0073E633;
  }

  #receiver {
    position: relative;
    left: 37px;  
    top: 15px;
    width: 70px;
    font-family: MalgunGothic;
    font-size: 14px; 
    font-weight: bold;
    obj[0].email;    
  }

  #receiverWrap {
    position: relative;
    display: inline-block;
    left: 110px;
    top: -5px;
    max-width: 1000px;
    height: 70px;
    font-family: MalgunGothic;
    font-size: 13px;   
    cursor: pointer; 
  }

  #receiverEmail {
    background-color: #0073E61A;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
  }

  #receiverEmail:hover {
    text-decoration: underline;
    background-color: #0073E633;
  }  

  #senderTime {
    position: relative;
    top: -35px;
    left: 37px;
    width: 150px;
    font-size: 13px;
    font-family: MalgunGothic;
    color: #767678;
  }

  /* 첨부파일 리스트 */
  #mail-content {
    position: relative;
    width: 100%;
    height: 100%;
  }

  #file-attachment-summary{
    position: relative;
    left: 37px;
    top: 0px;
    width: 100px;
    font-size: 14px;
    color: #1E1E23;
    font-family: MalgunGothic;
  }

  #arrow-down{
    position: fixed;
    left: 100px;
    top: 277px;
    cursor: pointer;
  }

  #arrow-up{
    position: fixed;
    left: 100px;
    top:277px;
    cursor: pointer;  
  }

  #attachment-inner {
    position: relative;
    left: 37px;
    top: 15px;
    border: solid 1px #eee;
    width: 650px;
  }

  .fileList {
    list-style: none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #fileItem {
    display: block;
    height: 30px;
    line-height: 25px;
  }

  #fileItem:hover {
    background-color: #F9F9F9;
  }

  #fileImg {
    width: 22px;
    height: 22px;
    margin-left: 10px;
    vertical-align: middle;
  }
  
  #fileName {
    margin-top: 10px;
    font-size: 14px;
    color: #1E1E23;
    width:100%; 
    margin-left: 15px;
  }

  #img-preview {
    text-decoration: none;
  }

  #preview {
    vertical-align: middle; 
    font-size: 14px;
    color: #6b77a7;
    padding-left: 10px;
  }

  #preview:hover {
    text-decoration: underline;  
  }

  #download {
    width: 22px;
    height: 22px;
    vertical-align: middle; 
    float: right; 
    cursor: pointer;
  }

  #download:hover {
    content: url('/adminImages/feather-download2.svg');
  }

  #mail-content-text {
    position: relative;
    left: 37px;
    top: 30px;
    width: 78%;
    font-size: 14px;
  }

