<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.my.module.userRole.repository.PostRepository">
    <sql id="fullColumn">
        postId,
        userEmail,
        likeNum,
        imageName,
        videoName,
        shareNum,
        commentNum,
        creationDate,
        postReport
    </sql>
    <select id="plist" resultType="com.project.my.module.userRole.entity.PostEntity" parameterType="map">
    select <include refid="fullColumn"/> 
    from post 
    order by postId desc
    </select>
    <select id="plist2" resultType="com.project.my.module.userRole.entity.PostEntity" parameterType="map">
    select <include refid="fullColumn"/> 
    from post 
    where postId=#{postId};
    </select>
    
    <update id="upcomment">
    UPDATE post 
    SET commentNum=commentNum+1 
    WHERE postId=#{postId};
    </update>
    <update id="minuscomment">
    UPDATE post 
    SET commentNum=commentNum-1 
    WHERE postId=#{postId};
    </update>


    
    <update id="upheart">
    UPDATE post 
    SET likeNum=likeNum+1 
    WHERE postId=#{postId};
    </update>
    <update id="downheart">
    UPDATE post 
    SET likeNum=likeNum-1 
    WHERE postId=#{postId};
    </update>
    
    <select id="insertPost" resultType="com.project.my.module.userRole.entity.PostEntity">
        insert into post(userEmail,likeNum,imageName,videoName,shareNum,commentNum,creationDate,postReport) VALUES(#{userEmail}, 0,#{imageName}, NULL,0,0,now(),0);
    </select>
    <select id="insertVideo" resultType="com.project.my.module.userRole.entity.PostEntity">
        insert into post(userEmail,likeNum,imageName,videoName,shareNum,commentNum,creationDate,postReport) VALUES(#{userEmail}, 0,0,#{videoName},0,0,now(),0);
    </select>
</mapper>